In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
pd.crosstab(df['Survived'], df['Pclass'])

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [ ]:
80/891

0.08978675645342311

In [ ]:
pd.crosstab(df['Survived'], df['Pclass'],normalize='all',margins=True)

Pclass           1         2         3       All
Survived
0         0.089787  0.108866  0.417508  0.616162
1         0.152637  0.097643  0.133558  0.383838
All       0.242424  0.206510  0.551066  1.000000

In [ ]:
pd.crosstab(df['Survived'], df['Pclass'],normalize='columns')

Pclass          1         2         3
Survived
0         0.37037  0.527174  0.757637
1         0.62963  0.472826  0.242363

In [ ]:
pd.crosstab(df['Survived'], df['Pclass'],normalize='index')

Pclass           1         2         3
Survived
0         0.145719  0.176685  0.677596
1         0.397661  0.254386  0.347953